{% extends 'base.html' %}

{% block head_title %}Checkout{% endblock %}

{% block stripe_js%}
<!-- STRIPE JS -->

<script src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
   //<![DATA[
   Stripe.publishableKey = '{{ publishable }}';
   //]
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock stripe_js %}

{% block content %}

<div class="link">
   <a href="/">Home</a> > <a href="{% url 'cart' %}">Shipping Cart</a> > Checkout
</div>

{% for item in cart_items %}
   <h2>{{ item.product.title }}</h2>
   <p>Qty: {{ item.quantity }}</p>
   <p>${{ item.product.price }}</p>
{% endfor %}

<h2>Total</h2>
<p>{{ total }}</p>

<form role="form" action="{% url 'checkout' %}" id="payment-form" method="POST">{% csrf_token %}
   <legend>Payment Details</legend>

   <div id="credit-card-errors">
      <div class="alert-message block-message error" id="stripe-error-message"></div>
   </div>

   {{ order_form.as_p }}

   <hr>

   {{ payment_form.as_p }}

   <input id="submit_payment_btn" type="submit" class="submit" value="Submit Payment">

</form>

<div class="zk" id="zk-id"></div>

{% endblock %}