{% extends 'base.html' %}

{% block head_title %}Checkout{% endblock %}

{% block head_js%}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="">
   //<![DATA[
   Stripe.publishableKey = '{{ publishable }}'
   //]
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

{% for item in cart_items %}
   <h2>{{ item.product.title }}</h2>
   <p>Qty: {{ item.quantity }}</p>
   <p>${{ item.product.price }}</p>
{% endfor %}

<h2>Total</h2>
<p>{{ total }}</p>

<form action="{% url 'checkout' %}" id="payment-form" method="POST">{% csrf_token %}
   <legend>Payment Details</legend>
   {{ order_form.as_p }}

   <hr>
   {{ payment_form.as_p }}

   <button class="btn btn-primary" type="button">Submit Payment</button>

</form>


{% endblock %}