{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head_title %}Login{% endblock %}

{% block content %}
<div class="container mt-2">
   <div class="row justify-content-center">

      {% if messages %}
      <div>
         {% for message in messages %}
         {{ message }}
         {% endfor %}
      </div>
      {% endif %}

      <form method="POST"> {% csrf_token %}
         <legend class="text-center">LOGIN</legend>

            {{ form | crispy }}

         <div class="text-center">
            <button class="text-center btn btn-primary" type="submit">Login</button>
         </div>
      </form>
   </div>
</div>

{% endblock %}