{% extends 'base.html' %}

{% block head_title %}Kick Scooters{% endblock %}

{% block content %}
<nav class="container-fluid">
   <div class="row">
      <div class="col-md-4 element-padding--zero">
         <h2 class="text-center text-white active">Kick Scooters</h2>
      </div>
      <div class="col-md-4 element-padding--zero">
         <h2 class="text-center bg-secondary text-white">eScooters</h2>
      </div>
      <div class="col-md-4 element-padding--zero">
         <h2 class="text-center bg-secondary text-white">Scooters for kids</h2>
      </div>
   </div>
</nav>

<div class="link">
   <a href="/">Home</a> > Kick Scooters
</div>
<div class="container">
   <div class="row">
      {% for product in kick_scooters_products %}
      <div class="col-md-4 ">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'img/kick_scooter.jpg' %}" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">{{ product.title }}</h5>
               <ul>
                  {% if product.feature_1 != None %}
                  <li>{{ product.feature_1 }}</li>
                  {% endif %}

                  {% if product.feature_1 != None %}
                  <li>{{ product.feature_2 }}</li>
                  {% endif %}

                  {% if product.feature_1 != None %}
                  <li>{{ product.feature_3 }}</li>
                  {% endif %}
               </ul>
               <p class="card-text">{{ product.content }}</p>
               <p class="text-center">
                  <a href="{{ product.get_absolute_url }}">Learn more</a>
               </p>
               <button href="#" class="btn btn-primary">Buy</button>
               <span class="price">${{ product.price }}</span>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}