h2 {
   margin: 0;
   font-size: 1.4rem;
}

.navbar-brand {
   font-size: 1.8rem;
}

.navbar-brand-center {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.img-menu {
   max-width: 100%;
   height: calc(100vh - 82.4px);
   object-fit: cover;
}

.card-menu--padding {
   padding: 0;
}

.btn-menu-center {
   bottom: 134px;
   left: 50%;
   position: absolute;
   transform: translateX(-50%);
}

.cursor-pointer{
   cursor: pointer;
 }