h2 {
   margin: 0;
}

.navbar-brand-center {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.img-menu {
   max-width: 100%;
   height: calc(100vh - 94.4px);
   object-fit: cover;
}

.card-menu--padding {
   padding: 0;
}